.pref {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}